<div class="page-header" id="banner">
  <div class="row">
    <h1>Questions</h1>
    <p class="lead">Help your students to know more! Add questions, track down, analyse!</p>
  </div>
</div>

<p>

  <form class="form-horizontal" accept-charset="UTF-8" action="/questions" method="get"><div style="display:none"><input name="utf8" value="✓" type="hidden"></div>
        <select name="subject_id" class="form-control" onchange="javascipt:ajaxFilter()" id="filtrar">
          <%  subjects_select = FillSubjectDropdown @subjects%>
          <% subjects_select.each do |subject|%>
            <option value="<%= subject[1]%>"><%=subject[0]%></option>
          <%end%>
          <input style="display: none"  type="submit" class= "btn btn-default" value="Filtrar"/>
        </select>
  </form>
</p>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Question</th>
      <th>Type</th>
      <th>Year</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id = 'subjectsBody'>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.text %></td>
        <td><%= question.type %></td>
        <td><%= question.date %></td>
        <td><%= question.subjects.map { |s| s.name }.join(", ") %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
