<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Style:</strong>
  <%= @question.style %>
</p>

<p>
  <strong>Year:</strong>
  <%= @question.year %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @question.subject.name %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
