<!DOCTYPE html>
<html ng-app="gabariteiApp">
<head>
  <title>Gabaritei</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body class="container">
	<%= render 'layouts/navbar'%>
	<div class="bs-docs-section clearfix" ng-view >
		<%= yield %>
	</div>
</body>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
