<!DOCTYPE html>
<html ng-app="gabariteiApp">
<head>
  <title>Gabaritei</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body class="container">
	<%= render 'layouts/navbar'%>		
	<div class="bs-docs-section clearfix"  >
		<div class="row" ng-controller="MessagesController" >
			<div id="messageContainer"></div>
		</div>

		<!-- Modal -->
		<div ng-controller="ModalController as Ctrl">
			<div class="modal fade" id="modalBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">{{Ctrl.modal.title}}</h4>
						</div>
						<div class="modal-body">
							{{Ctrl.modal.body}}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" ng-click="Ctrl.modal.confirmCallback(Ctrl.modal.pack)" data-dismiss="modal">Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-view>
			<%= yield %>
		</div>
	</div>
</body>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
